<div class="footer-block lg:grid grid-cols-3 p-6 hidden">

  <div class="left-block ">
    <div class="flex lg:justify-start justify-center">
      <img class="nav-logo" src="assets/nav-logo/tit.svg">
    </div>
    <div class="text-gray-400 card-text">
      <p>
        All rights reserved. © WellSoft 2023
      </p>
    </div>
  </div>

  <div class="center-block">

    <div class="flex flex-row card-text justify-center">

      <div class=" main-text  lg:pd-0 ">
        <div class="flex  flex-col justify-center ">
          <div class="consolas-text-Style text-lg font-bold ">Contact WellSoft</div>
          <div>
            <p>Some cool address street 47/7</p>
          </div>
          <div>
            <p>+3801231232*</p>
          </div>

          <div>
            <p>WellSoftware@mail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-block flex flex-row justify-end">
    <div class="flex flex-col justify-end h-full">
      <div class="flex flex-row gap-4">
        <img class="social-img" src="assets/svg/facebook.svg">
        <img class="social-img" src="assets/svg/instagram.svg">
        <img class="social-img" src="assets/svg/youtube.svg">
      </div>


    </div>
  </div>


</div>


<div class="footer-block lg:hidden p-6">


  <div class="top-block">

    <div class=" card-text ">

      <div class="  ">
        <div class="flex flex-col justify-center ">
          <div class="consolas-text-Style text-lg font-bold ">Contact WellSoft</div>
          <div>
            <p>Some address street 47/7</p>
          </div>
          <div>
            <p>+3801231232*</p>
          </div>

          <div>
            <p>WellSoftware@mail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-block flex flex-row justify-center py-4">
    <div class="flex flex-col justify-end h-full">
      <div class="flex flex-row gap-4">
        <img class="social-img" src="assets/svg/facebook.svg">
        <img class="social-img" src="assets/svg/instagram.svg">
        <img class="social-img" src="assets/svg/youtube.svg">
      </div>


    </div>
  </div>

  <div class="left-block ">
    <div class="text-gray-400 card-text">
      <p>
        All rights reserved. © WellSoft 2023
      </p>
    </div>
  </div>
</div>
