<div class=" lg:px-0 lg:justify-center">
    <div class="daisy-carousel  lg:rounded-box lg:grid lg:grid-cols-3 pb-2 gap-y-10  justify-items-center">

        <div class="daisy-card daisy-carousel-item daisy-card-compact lg:w-96 w-full bg-base-100 border shadow-lg">
            <figure><img
                    class="img-logo-card"
                    src="assets/Circo_Bar_logo-1.svg"/></figure>
            <div class="daisy-card-body">
                <h2 class="daisy-card-title">Test project</h2>
                <div class="flex flex-col justify-between h-full">
                    <p class="pb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing L?</p>
                    <div class="flex flex-row lg:justify-end">
                        <button matRipple class="w-full detail-button-gradient lg:w-1/4 ">Detail</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="daisy-card  daisy-carousel-item  daisy-card-compact lg:w-96 w-full bg-base-100 border shadow-lg">
            <figure><img
                    class="img-logo-card"
                    src="assets/Carol_Brodi_logo-1.svg"
            /></figure>
            <div class="daisy-card-body">
                <h2 class="daisy-card-title">Generator</h2>
                <div class="flex flex-col justify-between h-full">
                    <p class="pb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="flex flex-row lg:justify-end">
                        <button matRipple class="w-full detail-button-gradient lg:w-1/4">Detail</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="daisy-card daisy-carousel-item  daisy-card-compact lg:w-96 w-full bg-base-100 border shadow-lg">
            <figure><img
                    class="img-logo-card"
                    src="assets/MCK_Architecture_logo-1.svg"
            /></figure>
            <div class="daisy-card-body">
                <h2 class="daisy-card-title">Super quize</h2>
                <div class="flex flex-col justify-between h-full">
                    <p class="pb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged.?</p>
                    <div class="flex flex-row lg:justify-end">
                        <button matRipple class="w-full detail-button-gradient lg:w-1/4">Detail</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
