<div class=" lg:px-0 lg:justify-center">
    <div class="daisy-carousel  mx-2 lg:mx-0 space-x-1 lg:flex lg:flex-row lg:flex-wrap lg:gap-y-2 justify-between">

        <div class="daisy-card daisy-carousel-item daisy-card-compact lg:w-96 w-full main-colors blue rounded-[5px]">
            <div class="daisy-card-body px-[30px] py-[25px]">
                <p class="pixel-text pb-2">01</p>
                <h2 class="daisy-card-title text-card-headers">Test project</h2>
                <div class="flex flex-col justify-between h-full">
                    <p class="pb-[45px] card-text">We provide custom software development and IT outsourcing services. Our developers
                        build custom software for individuals, startups, and small to medium business.</p>
                    <div class="flex flex-row">
                        <button matRipple class="button main-colors yellow uppercase w-full">
                            <p class="button-font font-bold">Details</p></button>
                    </div>
                </div>

            </div>
        </div>

        <div class="daisy-card  daisy-carousel-item  daisy-card-compact lg:w-96 w-full main-colors blue rounded-[5px]">
            <div class="daisy-card-body px-[30px]  py-[25px]">
                <p class="pixel-text pb-2">02</p>
                <h2 class="daisy-card-title text-card-headers">Generator</h2>
                <div class="flex flex-col justify-between h-full">
                    <p class="pb-[45px] card-text">
                        We provide custom software development and IT outsourcing services. Our developers
                        build custom software for individuals, startups, and small to medium business.
                    </p>
                    <div class="flex flex-row">
                        <button matRipple class="button main-colors yellow uppercase w-full">
                            <p class="button-font">Details</p></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="daisy-card daisy-carousel-item  daisy-card-compact lg:w-96 w-full main-colors blue rounded-[5px]">
            <div class="daisy-card-body px-[30px]  py-[25px]">
                <p class="pixel-text pb-2">03</p>
                <h2 class="daisy-card-title text-card-headers">Super quize</h2>
                <div class="flex flex-col justify-between h-full">
                    <p class="pb-[45px] card-text">We provide custom software development and IT outsourcing services. Our developers
                        build custom software for individuals, startups, and small to medium business.</p>
                    <div class="flex flex-row">
                        <button matRipple class="button main-colors yellow uppercase w-full">
                            <p class="button-font">Details</p></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
