<div class="sticky daisy-navbar bg-base-100 flex flex-row justify-items-center justify-between border-ua">
    <div>
        <a class="daisy-btn daisy-btn-ghost normal-case text-xl">WellSoft</a>
    </div>
    <div>
        <mat-select value="option1" class="!border-0" class="w-14">
            <mat-option value="option1">EN</mat-option>
            <mat-option value="option2">UA</mat-option>
            <mat-option value="option3">RU</mat-option>
        </mat-select>
    </div>

</div>
<!--<mat-progress-bar-->
<!--        class="example-margin"-->
<!--        color="primary"-->
<!--        mode="indeterminate"-->
<!--&gt;-->
<!--</mat-progress-bar>-->

<div class=" parallax ">
    <div class=" lg:justify-between lg:rounded-box lg:grid lg:grid-cols-3 pb-2 gap-y-10  justify-items-center">
        <div class="mx-6 lg:m-6 p-4 bg-opacity-80  bg-white  rounded " style="max-width: 386px">
            <h1 class="text-inherit font-serif  my-2">Company Motivation</h1>
            <div class="text-gray-400 font-sans font-semibold text-justify ">
                <p>Short description how company base himself. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam
                    pulvinar luctus sem, eget
                    porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae
                    ligula et
                    interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    pulvinar luctus sem, eget
                    porta orci.</p>
            </div>
        </div>

        <div></div>
        <!--        <div class=" lg:flex lg:flex-row ">-->
        <div class="m-6  p-4 bg-opacity-80  bg-white  rounded" style="max-width: 386px">
            <h1 class="text-inherit font-serif  my-2">About Company</h1>
            <div class="text-gray-400 font-sans font-semibold text-justify ">
                <p>Short description how company base himself. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam
                    pulvinar luctus sem, eget
                    porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae
                    ligula et
                    interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    pulvinar luctus sem, eget
                    porta orci.</p>
            </div>
            <!--            </div>-->
        </div>
    </div>

    <div class="flex flex-row lg:justify-between lg:mx-14 lg:mt-14 justify-center items-center">
        <p class="projects-title " style="text-shadow: 0 0 3px #0a0707, 0 0 5px #0a0707; color:white">Our Projects</p>
        <!--        <img class="cursor-pointer hover:scale-105" [srcset]="titImgSrc" (click)="changeBirdByClick()">-->
    </div>
    <app-carousel class="mb-8"></app-carousel>
</div>


<!--<div class="border-ua lg:mt-12 mt-8"></div>-->
<div class="border-ua-top "></div>
<footer class="p-4">
    <div class="flex lg:flex-row flex-col justify-center font-serif  font-medium lg:gap-16 gap-8">
        <div>
            <h4>Address</h4>
            <p>Some cool address street 47/7</p>
        </div>
        <div>
            <h4>Phone</h4>
            <p>+3801231232*</p>
        </div>

        <div>
            <h4>Email</h4>
            <p>WellSoftware@mail.com</p>
        </div>
    </div>
</footer>
