h1 {
  font-size: 30px;
  line-height: 33px;
}

h4 {
  font-weight: 800;
}

.projects-title {
  font-weight: 500;
  font-size: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.pixel {
  height: 11px;
  width: 11px;
  border-radius: 2px;
  z-index: 3;
  transition: width 1s cubic-bezier(0, 0, 1, 1) 300ms,
  height 1s cubic-bezier(0, 0, 1, 1) 300ms,
  margin-top 1s, cubic-bezier(0,0,0,0), 300ms;
}

.pixel-button-position {
  margin-top: 39px;
}
.button-anim-text{
  visibility: hidden;
  opacity: 0;
  max-wight:145px;
  wight:145px;
  transition: visibility 0s, opacity 500ms ;
}

.button-anim:hover .button-anim-text {
  display: block;
  color: yellow;
  max-wight:145px;
  visibility: visible;
  opacity: 1;
}

.button-anim:hover .pixel {
  border-radius: 5px;
  width:136px;
  margin-top: 0px;
  height:50px;
}


.btn {
  padding: 10px 20px;
  position: relative;
  color: #f3e820;
  background-color: #222;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: monospace;
  letter-spacing: -1px;
}
/*.btn [class^=btn__text] {*/
/*  font-size: 24px;*/
/*}*/
.btn .btn__text-dynamic,
.btn .btn__text-dynamic-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all ease 400ms;

}
.btn .btn__text-dynamic {
  background-color: #f3e820;
  color: #222;
  overflow: hidden;
  border-radius: 2px;

}
.btn:hover .btn__text-dynamic {
  transform: translateX(100%);
  transform: translateY(100%);
}
.btn:hover .btn__text-dynamic-inner {
  transform: translateY(-100%);
  transform: translateX(-100%);

}

