h1 {
    font-size: 30px;
    line-height: 33px;
}

h4 {
    font-weight: 800;
}

.projects-title {
    font-weight: 500;
    font-size: 40px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.pixel{
    height: 11px;
    width: 11px;
    border-radius: 2px;
    z-index: 3;
}

.pixel-button-position{
    margin-top: 39px;
}
