/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark only;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cbcbcb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}


.border-ua {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, aqua, gold) 1;
    border-left: none;
    border-right: none;
    border-top: none;
    /*border-bottom: none;*/
}

.border-ua-top{
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, aqua, gold) 1;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
